*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
header h1{
    font-size: 40px;
    font-weight: 700;
}
header p{
    font-size: 20px;
    font-weight: 400;
}
section h1{
    font-size: 40px;
    font-weight: 700;
}
section{
    background: linear-gradient(to bottom, #EDEDED 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);
}
.ban img{
    width: 98px;
    height: 98px;
    border-radius: 50%;
} 
.ban p{
    font-size: 18px;
    font-weight: 500;
    background-color: #EDEDED;
    border: 1px solid #f5f5f5;
    width: 250px;
    height: 50px;
    border-radius: 10px;
   
}
.ban .p1{
    font-size: 18px;
    font-weight: 500;
    background-color: #EDEDED;
    border: 1px solid #f5f5f5;
    width: 170px;
    height: 50px;
    border-radius: 10px;
}

.content h5{
    font-size: 24px;
    font-weight: 700;
}
.prise .span1{
    font-size: 78px;
    font-weight: 700;
    font-family: Poppins;
    color: rgba(2, 137, 122, 1);
}
.prise .span2{
    font-size: 24px;
    font-weight: 700;
    font-family: Poppins;
    color: rgba(2, 137, 122, 1);
}
.prise .span3{
    font-size: 24px;
    font-weight: 400;
    font-family: Poppins;
    color: rgba(175, 175, 175, 1);

}
.card:hover{
  background: rgba(2, 137, 122, 1);
   
}
.prise .span1,.span2:hover{
    color: black;
}
.prise .span2,.span1:hover{
    color: black;
}